<div class="row">
    <div class="col-md-12 img-container">
        <img src="/assets/img/burger.jpg" alt="Burger">
        <hr>
        <h1>Eat-Da-Burger</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Add a Burger</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="burg">Burger Name:</label>
                <input type="text" id="burg" name="burger_name">
                <button type="submit">Add Burger</button>
            </div>

        </form>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <h2>Burgers that are not devoured!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}

            <li>
                {{burger_name}}

                <button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">
                    {{#if devoured}}DEVOURED!{{else}}DEVOURED!{{/if}}
                </button>

            </li>
            {{/unless}}
            {{/each}}
        </ul>

    </div>
    <div class="col-md-6">
        <h2>Burgers that are devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{burger_name}}


                <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>